*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #5669FF;
  padding: 20px;
  width: 375px;
  border-radius: 0 0 33px 33px;
  gap: 30px;
}

.perfil{
  display: flex;
  align-items: center;
  gap: 90px;
}

.perfil-txt{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.perfil-txt-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.perfil-txt-1 p{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  opacity: 70%;
}

.perfil-txt h1{
  font-size: 14px;
  font-weight: 500;
  color: #F4F4FE;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 48px;
  background: #6d7ef8;
  gap: 10px;
}

.search input{
  width: 253px;
  height: 24px;
  border: none;
  background: transparent;
}

.categoties{
  display: flex;
  flex-direction: column;
}

.categoties-tittle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 270px;
  padding: 20px 0px;
}

.categoties-tittle h1{
  font-size: 14px;
  font-weight: 700;
  color: rgba(23, 41, 54, 1);
}

.categoties-cards{
  display: flex;
  gap: 10px;
}

.categoties-card{
  display: flex;
  flex-direction: column;
  padding: 10px 0 5px 10px;
  gap: 30px;
}

#categoties-card-1{
  width: 106px;
  height: 105px;
  border-radius: 12px;
  border: 2px solid #00A9CE;
  gap: 45px;
}

#categoties-card-2{
  width: 106px;
  height: 105px;
  border-radius: 12px;
  border: 2px solid #6B7AED;
}

#categoties-card-3{
  width: 106px;
  height: 105px;
  border-radius: 12px;
  border: 2px solid #FFCD55;
}

.categoties-card-txt{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.categoties-card-txt h1{
  font-size: 12px;
}

.categoties-card-txt p{
  font-size: 10px;
}

.perfiles-best{
  display: flex;
  flex-direction: column;
}

#perfiles-best-h1{
 padding: 15px 0;
 font-size: 14px;
 font-weight: 700;
 color: rgba(23, 41, 54, 1);
}

.perfiles-cards{
  display: flex;
  gap: 10px;
}

.perfile-card{
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 200px;
  border-radius: 12px;
  border: none;
  background: #CCCCCC;
  padding: 10px;
  gap: 100px;
}

.perfile-card-txt{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.perfile-card-txt h1{
  font-size: 14px;
  font-weight: 700;
}

.perfile-card-txt p{
  font-size: 10px;
  font-weight: 500;
}

.card-txt-1{
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-txt-1 h1{
  font-size: 16px;
  font-weight: 800;

}